body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.search {
    margin-bottom: 20px;
}

.search input {
    padding: 8px;
    width: 65%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background: #45a049;
}

.weather img {
    width: 80px;
}

.weather h2 {
    margin: 10px 0;
}
